<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora</title>
    <meta charset="utf-8" />
    <style>
        table{
            position: relative;
            top: 200px;
        }
        input[type=button]{
            width: 40px;
            height: 45px;
        }
        input[type=text]{
            width: 180px;
            height: 30px;
        }
        pre{
            position: relative;
            left: 70%;
        }
    </style>
  </head>
  <body onkeypress="manipularTeclado()">
      <table align="center" border="3px">
          <tr>
              <td colspan="6"><input type="text" id="display" value="" disabled></td>
          </tr>
          <tr>
            <td><input type="button" value="7" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="8" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="9" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="*" onclick="atualizarOperacao(this)" /></td>
            <td><input type="button" value="√" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input type="button" value="4" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="5" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="6" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="-" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input type="button" value="1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="2" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="3" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="+" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input type="button" value="C" onclick="limparDisplay()" /></td>
            <td><input type="button" value="0" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" value="=" style="background-color:greenyellow;" onclick="calcularOperacao()" /></td>
            <td><input type="button" value="/" onclick="atualizarOperacao(this)" /></td>
        </tr>
      </table>
      <pre id="historico"></pre>
      <script>
        function atualizarDisplay(btn){
            const display = document.getElementById('display');
            if(display.value.length === 9) return;
            if(display.value === '0') display.value = btn.value;
            else display.value += btn.value;
        }

        function limparDisplay(){
            document.getElementById('display').value = '0';
        }

        var operador = ''
        var valor1 = 0
        function atualizarOperacao(btn){
            const display = document.getElementById('display');
            operador = btn.value;
            valor1 = parseInt(display.value);
            if(btn.value == "√"){
                display.value = "√";
            }
            else
                display.value = '0';
        }

        function calcularOperacao(){
            const display = document.getElementById('display');
            const valor2 = parseInt(display.value.replace("√", ""));
            const outHistorico = document.getElementById("historico");
            var textoHistorico = ""
            var resultado;
            if(operador == "√"){
                resultado = Math.sqrt(parseFloat(valor2));
                textoHistorico = "√" + valor2 + " = " + resultado;
            }
            else{
                resultado = eval(valor1+operador+parseFloat(valor2));
                textoHistorico = valor1 + " " + operador + " " + valor2 + " = " + resultado + "\n";
            }
            display.value = resultado;
            outHistorico.textContent += textoHistorico;
            operador = '';
        }       

        function manipularTeclado(){
            if(/[0-9]/.test(event.key))
                atualizarDisplay({value: event.key});
        }
    </script>

  </body>
</html>